<h3> Player one, please choose your weapon. </h3>

<ul>
	<li><a href="/rock"><em>Rock</em></a></li>

	<li><a href="/paper"><em>Paper</em></a></li>

	<li><a href="/scissors"><em>Scissors</em></a></li>
</ul>