<h3> Player two, please choose your weapon. </h3>

<ul>
	<li><a href="/<%=params[:weaponone] %>/rock"><em>Rock</em></a></li>

	<li><a href="/<%=params[:weaponone] %>/paper"><em>Paper</em></a></li>

	<li><a href="/<%=params[:weaponone] %>/scissors"><em>Scissors</em></a></li>
</ul>