<h3> Player two, please choose your weapon. </h3>

<a href="/<%=params[:weaponone] %>/rock"><em>Rock</em></a>

<a href="/<%=params[:weaponone] %>/paper"><em>Paper</em></a>

<a href="/<%=params[:weaponone] %>/scissors"><em>Scissors</em></a>